.dimensao {
    width: 800px;
}

/* O que for declarado com ponto da seguinte forma: .declaracao é compreendido como uma classe no css */
img {
    border: solid 1px #000000;
}

/* O que for declarado como sendo um identificador de tag vai ser declarado em todas as ocorrências que aparecer */

#george {
    width: 600px;
    border:dotted 5px #FFF000
}

/* Quando você declara com # então o tipo 'id' vai ser aplicado!
 Esse tipo, apesar de funcionar, não é tão recomendado, pois ids precisam ser únicos e não se repetem */

 .mordecai {
     width: 600px;
 }

 .moluscus {
     width: 800px;
     border: solid 2px #ABC123;
 }